@import 'variables.css';


/* Resetea los estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.subtitulos {
    text-align: center;
}

#subtitulo-noticias {
    margin-top: 50px;
    margin-bottom: 30px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--color-azul);
    color: var(--color-verde);
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.cabecera {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.cabecera h1 {
    font-size: 50px;
}

.go {
    animation: moveRigth 1.5s forwards;
    /* Duración 1.5s */
    opacity: 0;
}

.to {
    animation: moveLeft 1.5s forwards 1.5s;
    /* Duración 1.5s, comienza después de 1.5s */
    opacity: 0;
}

header .logo img {
    width: 150px;
    text-align: center;
    border-radius: 50%;
    animation: escalar 1.5s forwards 3s;
    opacity: 0%;
}



header nav {
    border: 2px solid whitesmoke;
    height: 5vh;
    align-content: center;
    border-radius: 15px;    
}


header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    position: relative;   
    color: #fff;
    height: 600px;
    text-align: center;
    padding: 100px 0;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin-top: 10px;    
}

.intro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/pista1.png') no-repeat center center/cover;    
    filter: brightness(70%);
    z-index: 1;   
}

.intro h1,
.intro p,
.botones-acceso {
    position: relative;
    z-index: 2;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.intro p {
    margin: 100px 0px 150px 0px;
    font-size: 1.8rem;
}

.div-botones-acceso{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    
}
.botones-acceso{
    text-align: center;
    background-color: var(--color-secundario);
    color: whitesmoke;
    padding: 10px 20px;
    width: 200px;
    border: 2px solid whitesmoke;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;

}
fieldset{
    width: fit-content;
    margin: 0 auto;
    border: none;
   
}
legend{
    font-size: 1.2rem;
    font-weight: bold;    
    color:whitesmoke;
    margin-bottom: 20px;
    background-color: var(--color-azul);
    border-radius: 15px;
    padding: 0 20px;
    border: 2px solid whitesmoke;
}

.login {
    background: url('../img/pista2.png') no-repeat center center/cover;
    /* height: 600px; */
    text-align: center;
    padding: 100px 0;
    display: none;

}

#formulario-login,
#formulario-registro {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: #10537A;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid var(--color-verde);
}

#formulario-login input {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    /* height: 50px; */
}

#formulario-login label,
#formulario-registro label {
    color: white;
}

.pie-formularios {
    color: whitesmoke;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    margin: 20px auto; /* Centrará horizontalmente */
    background-color: var(--color-azul);
    padding: 5px 30px;
    border-radius: 15px;
}

.pie-formularios a{
    margin-left: 10px;
    color: var(--color-naranja);
}
.boton-login {
    margin-top: 1.5em;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    align-self: center;
}
.error-login, .error-registro, .exito-login, .exito-registro {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    display:none;
}

.error-login h3, .error-registro h3{
    color:red;
}
.exito-login h3, .exito-registro h3 {
    color:var(--color-verde);
}

.registro {
    background: url('../img/registro.png') no-repeat center center/cover;
    filter: blur(50%);
    display: none;
    height: 100vh ;
    text-align: center;    
    /* padding: 50px 0; */
    align-content: center;
}
/* #formulario-registro{ 
    width: 30vw;  
} */

.registro input,
.registro select {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
}

.nuevoPassword, .repetirPassword {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 5px; 
    align-items: center; 
}

.nuevoPassword label, .repetirPassword label {
    grid-column: span 2; /* Ocupa ambas columnas */
    color: #ddd;
}

.nuevoPassword input, .repetirPassword input {
    grid-column: 1 / 2; /* Coloca el input en la primera columna */  
}

.nuevoPassword img, .repetirPassword img {
    grid-column: 2 / 3; /* Coloca la imagen en la segunda columna */
    cursor: pointer;
    margin-bottom: 20px;
    justify-self: end; /* Alinea la imagen a la derecha */
}

.radio-genero {
    display: grid;
    grid-template-areas:
        "lbGenero lbGenero"
        "rd1 rd2";

    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 10px;
  
}

#lbGenero {
    grid-area: lbGenero;
    
}
.rd1{
    grid-area: rd1;
}
.rd2{
    grid-area: rd2;
}
.botones-registro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
#limpiar, #enviar{
    font-size: 18px;
    display: inline;
    width: 30%;
    font-weight: bold;
}


.noticias {
    display: flex;
    flex-direction: column; /* El título está arriba y los otros abajo */
    align-items: center;
    margin-top: 10px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}

.contenedor-flex {
    display: flex;
    flex-direction: row;
    align-items: center; /* Mantiene alineación horizontal para las imágenes y contenedor de noticias */
    gap: 10px; /* Espacio opcional entre ellos */
}

#contenedor-noticias {
   
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* width: 80%; */
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 70px;
    /* margin-top: 20px; */
}

#anterior,
#siguiente {
    cursor: pointer;
    /* width: 30px; */
    /* Ajusta el tamaño de las flechas */
    /* height: 50px; */
    /* Mantiene la proporción original de las imágenes */
    align-self: center;
    /* Centra verticalmente las flechas dentro de su contenedor flex */
    margin: 50px;
}

.noticia-articulo {
    flex: 0 0 30%;
    margin: 0 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #ccc;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.5s ease, filter 0.5s ease;
    opacity: 0.5;
    filter: grayscale(100%);
    transform: scale(0.8);

}

.noticia-articulo img {
    max-width: 100%;
    height: 200px;
    margin: 10px 0;
}

.noticia-articulo.activo {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.1);
    
    color: darkslategray;
    border: 2px solid var(--color-verde);

}

.noticia-articulo h2 {
    font-size: 20px;
}

.noticia-articulo p {
    text-align: center;
    margin: 0 auto;
}
.pistas{
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 20px;
}

#selector-ciudades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#ciudades {
    border-radius: 5px;
    margin-left: 2%;
    height: 30px;
}

#contenedor-pistas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 50px; */
    text-align: center;
    justify-items: center;
    margin: 0 auto;
    width: max-content;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}

.pista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #ccc;
    color: darkslategray;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 60vh;
    height: 40vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.pista h3 {
    margin-top: 0;
}

.pista a img {
    width: 350px;
    /* Cambia a tu tamaño preferido */
    height: 200px;
    /* Cambia a tu tamaño preferido */
    cursor: pointer;
    object-fit: cover;
}

/* .imagen-pista{
    width: 80%;
    height: 50%;
    cursor: pointer;
} */
.pista p {
    margin: 5px 0;
}

#mas-pistas {
    text-align: center;
    cursor: pointer;
    color: #eea509;
    text-decoration: underline;
}

.features {
    margin-top: 10px;
    display: grid;
    grid-template-areas: 
        'cabecera cabecera' 
        'feature1 feature2' 
        'feature3 feature4';
    /* grid-template-columns: 1fr 1fr;  */
    row-gap: 120px; 
    /* column-gap: 20px; */
    justify-items: center; 
    border: 2px solid whitesmoke;
    border-radius: 15px;
    padding: 50px 100px 150px 100px;
    
    
}

.features h2 {
    grid-area: cabecera;
    color: whitesmoke;
    /* margin-bottom: 100px; */
}

.feature-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    width: 30vw;
    height: auto;
    border-radius: 20px;
    gap: 20px;
    opacity: 0; /* Para animaciones */
    /* background-color: white;  */
}
/* .feature-item h3{
    color: var(--color-naranja);

} */


#feat1 {
    grid-area: feature1;
    /* animation: desplazarDerecha 1.5s linear forwards;  */


}

#feat2 {
    grid-area: feature2;
}

#feat3 {
    grid-area: feature3;
    /* animation: desplazarDerecha 2.5s linear forwards;  */
}

#feat4 {
    grid-area: feature4;

}


.features img{
    width: 100px;
    height: auto;
    filter: invert(1) brightness(2);

}



/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
@keyframes moveRigth {
    from {
        opacity: 0;
        transform: translateX(-200%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    from {
        opacity: 0;
        transform: translateX(200%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes escalar {
    from {
        scale: 0;
    }

    to {
        scale: 100%;
        opacity: 1;
    }
}

@keyframes desplazarDerecha {
    from {
        transform: translateX(-50vw);
        /* Inicia fuera de la pantalla a la izquierda */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* Termina en su posición original */
        opacity: 1;
    }
}

@keyframes desplazarIzquierda {
    from {
        transform: translateX(50vw);
        /* Inicia fuera de la pantalla a la izquierda */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        /* Termina en su posición original */
        opacity: 1;
    }
}

.animacion-desplazar-derecha {
    animation: desplazarDerecha 1.5s ease-out forwards;
}

.animacion-desplazar-izquierda {
    animation: desplazarIzquierda 1.5s ease-out forwards;
}
/* Efecto de clic */
.boton-click {
    transform: scale(0.80);
    transition: transform 0.1s ease;
}