@import 'variables.css';

/* Estilo de la cabecera  */
header {
    background-color: var(--color-fondo-claro);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 40px;
    z-index: 3;
    
}

/* Contenedores del logo y el usuario en la cabecera  */
.logotipo,
.usuario {
    display: flex;
    flex-direction: row;
    margin: 0px 30px;
}

/* Texto con el nombre de la página  */
.logotipo h3 {
    align-content: center;
    margin-left: 30px;
    font-size: 20px;
    font-style: italic;
}

/* Iconos de logo y usuario  */
.icono-cabecera {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.notificaciones{
    display: none;
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center; 
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:var(--color-secundario);
    /* padding: 15px; */
    cursor: pointer;
    color: whitesmoke;
   
}

.notificaciones i{
    animation: campana 0.5s infinite ease-in-out;
    transform-origin: top center;
    display: inline-block;
    margin-right: 20px;
    color: goldenrod;
    font-size: 20px;
}
/* 
.detalle-notificaciones{
    display: none;
   
    background-color: var(--color-azul);
    padding: 15px;
    border-top: 1px solid #ddd;
    border: 2px solid black;
    border-radius: 10px;
    max-height: 40vh;
    overflow-y: auto;
    
    font-weight: 500 !important;
     
    position: absolute; 
    left: 0;
    top: 100%;
    width: 100%; 
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
} */
.detalle-notificaciones {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #33517D;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;
    text-align: center;
    z-index: 4;
}
.detalle-notificaciones h3{
    font-weight: bold;
    color: whitesmoke;
}

.header-notificaciones {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    height: 50px;
   
}

#cerrar-notificaciones {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: whitesmoke;
    height: 20px;
    /* float: right !important; */
    /* margin-bottom: 20px; */
}

#cerrar-notificaciones:hover {
    color: red;
}

.fa-eye{
    float: right;
    cursor: pointer;
}

.notificacion {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-aceptar, .btn-rechazar{
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}



.btn-aceptar {
    background-color: #198754;
    color: white;
}

.btn-rechazar {
    background-color: #DC3545;
    color: white;
}

/* Mensaje de bienvenida al usuario  */
#mensaje-bienvenida {
    align-content: center;
    margin-right: 20px;
    font-weight: bold;
}

/* Menú de opciones que aparece al pulsar el icono del usuario */
.opciones-usuario {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    text-align: center;
    width: 150px;
    height: 200px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 3;
}

/* Botones de opciones del usuario  */
.ver-perfil,
.cerrar-sesion {
    position: relative;
    margin: 10px;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    background-color: var(--color-azul);
    border-radius: 10px;
    color: whitesmoke;
    align-content: center;
    border: 2px solid black;
}

/* Ficha con los datos del usuario  */
.ficha-usuario {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    overflow-y: auto !important;
    justify-content: flex-start;
    width: 30% !important;
    height: 50% !important;
    min-height: fit-content;
    gap: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: var(--color-azul);
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;
    z-index: 4;
}
.ficha-usuario-header{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.1fr;
    text-align: center;
    /* gap: 40px; */
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 10px;
}
.ficha-usuario-fecha{
    font-size: 16px;
    width: 100% !important;
    margin-right: 5px;
    /* display: inline;
    white-space: nowrap;
    float: right; */
}
/* .ficha-usuario-fecha span{
    float: right;
} */
.ficha-usuario-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
    width: 100%;
}
.ficha-usuario-body p{
    border-bottom: 1px solid whitesmoke;
}
.ficha-usuario-nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px;
    text-align: start;
}

.ficha-usuario span {
    color: var(--color-verde);
    float: right;
}

.nombre-usuario-ficha {
    font-size: 22px;
    font-weight: bold;
}

/* Botones en la ficha del usuario  */
.botones-ficha-usuario button {
    font-size: 16px;
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-verde);
    color: whitesmoke;
}

/* Menú de navegación  */
nav {
    position: relative;
    border: 2px solid white;
    height: 5vh;
    align-content: center;
    background-color: #333;
    z-index: 2;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

/* Estilo básico de los enlaces del menú */
nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s, color 0.2s;
}

/* Estilo para el enlace activo */
nav ul li a.activo {
    color: var(--color-verde);
    transform: scale(1.2);
}

/* Contenedor general de contenido  */
#contenedor-principal {
    height: 80vh;
    background-color: var(--color-terciario);
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Estilo general para el contenido  */
.contenido {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Zona de publicación de partidos  */
#publicar-partidos {
    position: relative;
}

/* Pseudoclase para poner un fondo con opacidad ajustada */
#publicar-partidos::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/registro.png') repeat-y center center/cover;
    opacity: 0.2;
    z-index: 0;
}

/* Estilos para el contenedor principal del formulario */
fieldset {
    background-color: var(--color-secundario);
    border-radius: 10px;
    width: 50%;
    height: auto;
    max-width: 90vw;
    margin: auto;
    padding: auto;
    color: whitesmoke;
    opacity: 0.95;
}

/* Estilo para el título del formulario */
legend {
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 20px;
    background-color: var(--color-azul);
    border-radius: 15px;
    padding: 0 20px;
    margin: 0 auto 20px auto;
    border: 2px solid whitesmoke;
}

/* Diseño del formulario de publicación */
#form-publicar {
    display: grid;
    grid-template-areas:
        "modo modo"
        "nivel vacantes"
        "nivel ubicacion"
        "fecha ubicacion"
        "hora ubicacion"
        "comentarios comentarios"
        "botones botones";
}

/* Áreas de la cuadrícula */
.radio-modalidad {
    grid-area: modo;
}

.div-vacantes {
    grid-area: vacantes;
}

.div-nivel {
    grid-area: nivel;
}

.div-ubicacion {
    grid-area: ubicacion;
}

.div-fecha {
    grid-area: fecha;
}

.div-hora {
    grid-area: hora;
}

.div-comentarios {
    grid-area: comentarios;
}

.botones-publicar {
    display: flex;
    justify-content: center;
    grid-area: botones;
    gap: 20px;
    margin: 40px;
}

/* Estilo general para las divisiones del formulario */
.div-vacantes,
.div-nivel,
.div-ubicacion,
.div-fecha,
.div-hora,
.div-comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos específicos para la modalidad */
.radio-modalidad {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "rd1 rd2";
    justify-content: center;
    gap: 10px 50px;    
    height: 50px;
    margin: 20px 0 30px;    
}
#lbModalidad {
    grid-area: titulo;
}

/* Estilo general para inputs y selects del formulario */
#form-publicar input:not([type="radio"]),
#form-publicar select {
    width: 20em;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
/* Estilo para los botones del formulario */
#form-publicar input[type="submit"],
#form-publicar input[type="reset"] {
    width: 15%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background-color: var(--color-azul);
    color: whitesmoke;
    margin: 0 50px;
}

/* Estilo para el input de texto */
#form-publicar input[type="text"] {
    width: 70%;
    height: 50px;
    margin-bottom: 20px;
}

/* Estilo general para etiquetas */
#form-publicar label {
    font-size: 18px;
    font-weight: bold;
}

/* Contenedor para la zona de partidos publicados  */
.ver-partidos {
    position: relative;
    width: 100%;
    /* min-height: 80vh;     */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr auto;
    justify-items: center;
    align-items: center;
    overflow-y: auto;
    padding: 20px;
}
/* Pseudoclase para poner un fondo con opacidad ajustada */
.ver-partidos::before {
    content: "";
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/pista2.webp') repeat-y center center/cover;    
    opacity: 0.5;
    z-index: 0;   
    pointer-events: none;    
}
/* Títulos para las secciones de Partidos publicados y partidos del usuario  */
.ver-partidos h2,
.mis-partidos h2 {
    grid-column: 1 / -1;
    background-color: var(--color-azul);
    color: whitesmoke;
    border-radius: 15px;
    padding: 0 20px;
    border: 2px solid whitesmoke;
    z-index: 1;
    margin-bottom: 20px;
}
/* Ficha del partido en la sección de "Ver partidos" */
#ficha-partido {    
    z-index: 1;
    width: 80%;
    filter: none;
    height: auto;    
    padding: 10px;
    background-color: var(--color-secundario);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    border-radius: 10px;
    /* font-weight: bold; */
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        'fecha fecha fecha'
        'ciudad organizador estrellas'
        'tipo ubicacion nivel'
        'hora vacantes boton';
    gap: 10px;
    margin: 10px;
    display: none;
}
/* Texto dentro de la ficha de los partidos publicados  */
#ficha-partido p {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    padding: 0px 0px 0px 50px;
    overflow: hidden;
}
/* Zona de la fecha dentro de la ficha */
.partido-fecha {
    grid-area: fecha;
    background-color: var(--color-azul);
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    justify-content: center !important;
    padding: 0px !important;
}
/* Posicionamiento en el grid de las diferentes áreas de la ficha */
.partido-ciudad {
    grid-area: ciudad;
}
.partido-hora {
    grid-area: hora;
}
.partido-usuario {
    grid-area: organizador;
}
.partido-nivel {
    grid-area: nivel;
    justify-self: center;
    padding: 0% !important;
}
/* Estilo de las estrellas que representan el nivel del partido  */
.partido-estrellas {
    grid-area: estrellas;
    justify-self: center;
    padding: 0% !important;
}
.fas.fa-star {
    color: gold;
    text-shadow: 1px 1px 2px black;
    margin-top: 0px;
}
.partido-tipo {
    grid-area: tipo;
}
.partido-ubicacion {
    grid-area: ubicacion;
}
.partido-vacantes {
    grid-area: vacantes;
    font-weight: bolder;
}
/* Botón para ver detalles del partido */
#boton-detalles {
    position: sticky;
    grid-area: boton;
    border-radius: 10px;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
}
/* Contenedor para la ficha detallada de los partidos */
.ficha-detalles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    padding: 20px 50px;    
    background-color: var(--color-secundario);
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.90;
    border-radius: 10px;
    border: 3px solid #333;
    z-index: 1;
}
/* Elementos individuales dentro de la ficha detallada */
.detalle-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.detalle-item span {
    font-weight: bold;
}
.comentarios-partido {
    max-width: 200px;
}
/* Contenedor de los botones de la ficha detallada  */
.detalle-botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Botones de la ficha detallada  */
.detalle-botones button {
    width: 10em;
    height: auto;
    font-size: 16px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    margin-bottom: 0px;
    background-color: var(--color-azul);
    color: whitesmoke;
    font-weight: bold;
}

/* Contenedor para la zona de partidos del usuario  */
.mis-partidos {
    position: relative;
    display: grid;
    align-items: self-start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr auto;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    overflow-y: scroll;
}
/* Pseudoclase para poner un fondo con opacidad ajustada */
.mis-partidos::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/vestuario.webp') repeat-y center center/cover;
    opacity: 0.5;
    z-index: 0;
}
/* Estilo de la ficha de partidos del usuario  */
#ficha-mis-partidos {
    width: 90%;
    border: 1px solid var(--color-fondo-claro);
    border-radius: 10px;
    padding: 30px;
    background-color: var(--color-secundario);
    color: whitesmoke;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    transition: transform 0.2s ease;
    position: relative;    
    opacity: 0.95;
}
/* Efecto al pasar el mouse sobre la ficha  */
#ficha-mis-partidos:hover {
    transform: scale(1.02);
}
/* Id del partido dentro de la ficha  */
#detalle-mi-partido-id {
    margin-bottom: 40px;
}
/* Icono de "Organizador" o "Inscrito"  */
.div-icono-ficha {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* Imagen que se muestra cuando no hay partidos que mostrar  */
.lista-vacia {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    font-size: 26px;
    font-weight: bold;
}

/* Estilo del pie de página */
/* footer {
    border: 2px solid white;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
} */

/* Efecto de clic de los botones */
.boton-click {
    transform: scale(0.80);
    transition: transform 0.1s ease;
}
/* Estilo para los cuadros de diálogo */
.confirmar-accion,
.confirmar-archivado {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: whitesmoke;
    border: 2px solid black;
    /* color: whitesmoke;     */
    padding: 20px;
    z-index: 5;
}
.botones-accion{
    display: flex;
    flex-direction: row;
}
.aceptar-accion,
.cancelar-accion,
.opciones-archivado {
    padding: 5px 10px;
    /* width: 50%;
    height: 30px; */
    margin: 20px;
    /* font-size: 16px; */
    font-weight: bold;
    border-radius: 5px;
    
    color: whitesmoke;
}

.cabecera-archivado{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    height: 50px;
}

/* .opciones-archivado {
    width: 70%;
    height: auto;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
} */
.aceptar-accion,
.archivar-jugado {
    background-color: var(--color-verde);
}
.cancelar-accion,
.cancelar-archivado {
    background-color: var(--color-rojo);
}
.archivar-cancelado {
    background-color: orange;
    color: whitesmoke;
}
/* Estilo de los cuadros que muestran mensajes al usuario  */
.mensaje-exito,
.mensaje-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-fondo-oscuro);
    border: 2px solid whitesmoke;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    display: none;
    z-index: 3;
}
.mensaje-exito h3 {
    color: var(--color-verde);
}
.mensaje-error h3 {
    color: var(--color-rojo);
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}
@keyframes campana {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}