:root {
    /* --color-verde: #69f88d; */
    /* --color-rojo:#f86969; */
    --color-rojo: #C33430;
    --color-fondo-ficha: #ccc;
    /* --color-azul: #17396C; */
    --color-azul: #232D4B;
    --color-verde: #00AA9B;
    --color-oscuro: #333;
    --color-secundario: #005573;
    --color-naranja: #eea509;
    --color-formularios:#10537A;
    --color-terciario:#8ba4d1;
    /* Otras variables de color, fuente, etc. */
}