<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Página de error</title>
</head>

<body>
    <!-- Texto de error y botón para retroceder  -->
    <div id="pagina-error">
        <h2 id="texto-error">El recurso solicitado no existe</h2>
        <button id="bt-volver-error" onclick="window.history.back();">Volver</button>
    </div>
</body>

</html>