<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoToPadel - Encuentra tu Partido de Padel</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="HTTP://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
  
    <!-- ZONA DE CABECERA -->
    <header>
        <div class="cabecera">
            <h1 class="go">GO</h1>
            <div class="logo">
                <a href="/"><img src="img/logo.png" alt="GoToPadel"></a>
            </div>
            <h1 class="to">TO</h1>
        </div>

        <!-- Menú de navegación -->
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#contenedor-pistas">Pistas</a></li>
                <li><a href="#contenedor-noticias">Noticias</a></li>
                <li id="nav-login"><a href="#">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <!-- ZONA DE INTRODUCCIÓN Y FORMULARIOS -->
    <section class="intro">
        <h1>Encuentra y organiza tus partidos de pádel fácilmente</h1>
        <p>Conéctate con jugadores y clubes cercanos a ti.</p>
        <div class="div-botones-acceso">
            <button id="enlace-login" class="botones-acceso">Iniciar Sesión</button>
            <button id="enlace-registro" class="botones-acceso">Registrarse</button>
        </div>
    </section>

    <!-- Formulario para el login -->
    <section class="login">
        <fieldset>
            <legend>Inicio de Sesión</legend>
            <form id="formulario-login" action="" method="post">

                <label for="username">Dirección de correo</label>
                <input type="text" name="username" id="username" maxlength="60" required />
                <label for="current-password">Contraseña:</label>
                <input type="password" name="current-password" id="current-password" maxlength="20" required />
                <input type="submit" class="boton-login" value="Acceder" />
            </form>
        </fieldset>
        <p class="pie-formularios">No tienes cuenta?<a id="pie-formularios-login" href="#">Regístrate</a></p>
        <div class="exito-login"></div>
        <div class="error-login"></div>
    </section>

    <!-- Formulario de registro -->
    <section class="registro">
        <fieldset>
            <legend>Nuevo Usuario</legend>
            <form id="formulario-registro" action="" method="get">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" maxlength="50" required />
                <label for="email-registro">Dirección de correo</label>
                <input type="text" name="email-registro" id="email-registro" maxlength="60" required />

                <div class="nuevoPassword">
                    <label for="contrasena1">Contraseña:</label>
                    <input type="password" name="contrasena1" id="contrasena1" maxlength="20" required />
                    <i class="fas fa-eye"  id="mostrarPassword1"></i>
                </div>
                <div class="repetirPassword">
                    <label for="contrasena2">Repetir Contraseña:</label>
                    <input type="password" name="contrasena2" id="contrasena2" maxlength="20" required />
                    <i class="fas fa-eye"  id="mostrarPassword2"></i>
                </div>
                <label for="nivel">Nivel de Juego:</label>
                <select id="nivel" name="nivel">
                    <option value="Principiante" selected="selected">Principiante</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>
                    <option value="Experto">Experto</option>
                    <option value="Profesional">Profesional</option>
                </select>
                <label for="fechaNac">Fecha de Nacimiento</label>
                <input type="date" name="fechaNac" id="fechaNac" required>
                <div class="radio-genero">
                    <label id="lbGenero">Género</label>
                    <div class="rd1">

                        <input type="radio" name="genero" id="rdHombre" value="hombre" checked>
                        <label for="rdHombre">Hombre</label>
                    </div>
                    <div class="rd2">
                        <input type="radio" name="genero" id="rdMujer" value="mujer">
                        <label for="rdMujer">Mujer</label>
                    </div>
                </div>

                <div class="botones-registro">
                    <input type="reset" name="limpiar" id="limpiar" value="Limpiar" />
                    <input type="submit" name="enviar" id="enviar" value="Enviar" />
                </div>

            </form>
        </fieldset>
        <p class="pie-formularios">Ya tienes una cuenta?<a id="pie-formularios-registro" href="#">Inicia Sesión</a></p>
        <div class="exito-registro"></div>
        <div class="error-registro"></div>
    </section>

  
    <!--ZONA DE NOTICIAS -->
    <div class="noticias">
        <h2 id="subtitulo-noticias" class="subtitulos">Noticias de Pádel</h2>
        
            <div id="contenedor-noticias"></div>
        
        <div class="controles">
            <img id="anterior" src="img/ico_left.png" alt="Anterior">
            <img id="siguiente" src="img/ico_right.png" alt="Siguiente">
        </div>
    </div>
    

    <!--ZONA DE PISTAS DE PÁDEL-->
    <div class="pistas">
        <div id="selector-ciudades">
            <h2 class="subtitulos">Pistas de pádel en: </h2>
            <select name="ciudades" id="ciudades">
            </select>
        </div>
        <div id="contenedor-pistas"></div>
        <p id="mas-pistas">Cargar más pistas</p>
    </div>

    <!-- ZONA DE CARACTERÍSTICAS -->
    <section class="features">
        <h2 class="subtitulos">¿Por qué usar GoToPadel?</h2>
        <div id="feat1" class="feature-item">
            <h3>Encuentra Partidos</h3>
            <img src="img/raqueta.png" alt="Raqueta de pádel">
            <p>Busca y únete a partidos cerca de ti con solo unos clics.</p>
        </div>
        <div id="feat2" class="feature-item">
            <h3>Busca Jugadores</h3>
            <img src="img/jugador.png" alt="Jugador de pádel">
            <p>Encuentra participantes para tus partidos.</p>
        </div>
        <div id="feat3" class="feature-item">
            <h3>Noticias del Mundo del Pádel</h3>
            <img src="img/noticias.png" alt="Imágen de un periódico">
            <p>Mantente informado con las últimas noticias sobre pádel.</p>
        </div>
        <div id="feat4" class="feature-item">
            <h3>Listado de Pistas y Clubes</h3>
            <img src="img/cancha.png" alt="Cancha de pádel">
            <p>Encuentra sitios donde jugar en tu ciudad</p>
        </div>
    </section>

    <!-- PIE DE PÁGINA -->
    <footer>
        <p>2024 GoToPadel. Todos los derechos reservados.</p>
        <ul>
            <li><a href="/privacy">Política de Privacidad</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/about">Acerca de</a></li>
        </ul>
    </footer>
    
    <script src="js/formularios.js"></script>
    <script src="js/index.js"></script>    
    <script src="js/utilidades.js"></script>
</body>

</html>