<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/private.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <title>GoToPadel Area Personal</title>
    <script src="/js/variables.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <i class="fas fa-star" style="display: none;"></i>
    <!-- ZONA DE CABECERA -->
    <header>
        <div class="logotipo">
            <img src="img/logo.png" id="logo-cabecera" class="icono-cabecera" alt="Logotipo de GoToPádel">
            <h3>GoToPádel</h3>
        </div>

        <!-- Avisador de notificaciones, oculto por defecto  -->
        <div class="notificaciones">            
            <i class="fas fa-bell"></i>
            <h3>Ver notificaciones</h3>
            <div id="detalle-notificaciones" class="detalle-notificaciones">
                <ul></ul>
            </div>
        </div>

        <div class="usuario">
            <div id="mensaje-bienvenida"></div>
            <img src="img/ico_usuario_activo.png" id="icono-usuario" class="icono-cabecera" alt="Icono de usuario">

        </div>
    </header>
    <div class="opciones-usuario">
        <div id="ver-perfil" class="ver-perfil">Ver Perfil</div>
        <div id="cerrar-sesion" class="cerrar-sesion">Cerrar Sesión</div>
    </div>

    <!-- MENÚ DE NAVEGACIÓN -->
    <nav>
        <ul>
            <li><a href="" id="enlace-inicio">Inicio</a></li>
            <li><a href="" id="enlace-ver">Ver Partidos</a></li>
            <li><a href="" id="enlace-publicar">Publicar Partidos</a></li>
            <li><a href="" id="enlace-mispartidos">Mis Partidos</a></li>
        </ul>
    </nav>

    <!-- AREA DE CONTENIDO -->
    <section id="contenedor-principal">

        <!-- Cuadros para mostrar mensajes  -->
        <div class="mensaje-exito"></div>
        <div class="mensaje-error"></div>

        <!-- Cuadro de diálogo de confirmación de acciones -->
        <div id="confirmar-accion" class="confirmar-accion">
            <p class="texto-confirmar-accion">Estas seguro?</p>
            <div class="botones-accion">
                <button id="aceptar-accion" class="aceptar-accion">Aceptar</button>
                <button id="cancelar-accion" class="cancelar-accion">Cancelar</button>
            </div>
        </div>

        <!-- Cuadro de diálogo de confirmación de archivado de partidos -->
        <div id="confirmar-archivado" class="confirmar-archivado">
            <div class="cabecera-archivado">
                <p>Seleccione el motivo del archivado:</p>
                <span class="cerrar-dialogo">&times;</span>
            </div>
            <div class="botones-accion">
                <button id="archivar-jugado" class="archivar-jugado opciones-archivado">Partido jugado</button>
                <button id="archivar-cancelado" class="archivar-cancelado opciones-archivado">Partido cancelado</button>
            </div>       

        </div>

        <!-- Ficha de datos del usuario  -->

        <div class="ficha-usuario">
            <div class="ficha-usuario-header">
                <img class="icono-usuario-ficha icono-cabecera" src="img/ico_usuario.png" alt="Icono del usuario">
                <div class="ficha-usuario-nombre">
                    <p class="nombre-usuario-ficha">Carlos Martinez</p>
                    <p class="ficha-usuario-fecha">Miembro desde </p>
                </div>
                <span class="ficha-usuario-fecha-span"></span>
                <span id="cerrar-notificaciones">&times;</span>
            </div>
            <div class="ficha-usuario-body">
                <p class="id-usuario-ficha">Nº de Usuario: <span></span></p>
                <p class="nacimiento-usuario-ficha">F. Nacimiento: <span></span></p>
                <p class="genero-usuario-ficha">Género: <span></span></p>
                <p class="nivel-usuario-ficha">Nivel de Juego: <span></span></p>
                <p class="publicados-usuario-ficha">Partidos Publicados: <span></span></p>
                <p class="inscrito-usuario-ficha">Partidos Inscrito: <span></span></p>
            </div>
            <div class="botones-ficha-usuario">
                <button id="ver-partidos-usuario-ficha">Ver Partidos</button>
                <button id="eliminar-cuenta-usuario">Eliminar Cuenta</button>
            </div>
        </div>


        <!-- Area con fichas de partidos publicados  -->
        <div class="contenido ver-partidos" id="ver-partidos">

            <div id="ficha-detalles" class="ficha-detalles">
                <!-- Número de Partido -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-hashtag"></i>
                        <p class="detalles-partido">Partido N°:</p>
                    </div>
                    <span class="numero-partido"></span>
                </div>

                <!-- Organizador -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <p class="detalles-organizador">Organizador:</p>
                    </div>
                    <span class="organizador-partido"></span>
                </div>

                <!-- Fecha de Publicación -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-pencil-alt"></i>
                        <p class="detalles-publicacion">Fecha de publicación:</p>
                    </div>
                    <span class="fecha-publicacion"></span>
                </div>

                <!-- Fecha -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                        <p class="detalles-fecha">Fecha del partido:</p>
                    </div>
                    <span class="fecha-partido"></span>
                </div>

                <!-- Hora -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <p class="detalles-hora">Hora de inicio:</p>
                    </div>
                    <span class="hora-partido"></span>
                </div>

                <!-- Lugar -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                        <p class="detalles-lugar">Lugar:</p>
                    </div>
                    <span class="lugar-partido"></span>
                </div>

                <!-- Ciudad -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-city"></i>
                        <p class="detalles-ciudad">Ciudad:</p>
                    </div>
                    <span class="ciudad-partido"></span>
                </div>

                <!-- Tipo de Partido -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-gamepad"></i>
                        <p class="detalles-tipo">Tipo de partido:</p>
                    </div>
                    <span class="tipo-partido"></span>
                </div>

                <!-- Jugadores inscritos -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-users"></i>
                        <p class="detalles-jugadores">Jugadores inscritos:</p>
                    </div>
                    <div>
                        <span class="jugadores-inscritos"></span>
                        <i id="ver-jugadores-inscritos" class="fas fa-eye"></i>
                    </div>
                </div>

                <!-- Vacantes -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-user-plus"></i>
                        <p class="detalles-vacantes">Vacantes:</p>
                    </div>
                    <span class="vacantes-partido"></span>
                </div>

                <!-- Nivel de Juego -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-chart-line"></i>
                        <p class="detalles-nivel">Nivel de juego:</p>
                    </div>
                    <span class="nivel-partido"></span>
                </div>

                <!-- Comentarios -->
                <div class="detalle-item">
                    <div>
                        <i class="fa-solid fa-comment"></i>
                        <p class="detalles-comentarios">Comentarios:</p>
                    </div>
                    <span class="comentarios-partido"></span>
                </div>



                <!-- Botones -->
                <div class="detalle-botones">
                    <!-- Botón para cerrar la ficha -->
                    <button class="bt-cerrar-ficha">Cerrar</button>
                    <!-- Botón dinámico de inscripción -->
                    <button id="bt-inscribir">Inscribirse</button>
                </div>
                
            </div>

            <!-- Ficha general de los partidos  -->
            <div id="ficha-partido">
                <p class="partido-fecha"></p>
                <p class="partido-ciudad"></p>
                <p class="partido-nivel"></p>
                <p class="partido-estrellas"></p>
                <p class="partido-tipo"></p>
                <p class="partido-hora"></p>
                <p class="partido-usuario"></p>
                <p class="partido-ubicacion"></p>
                <p class="partido-vacantes"></p>
                <button id="boton-detalles">Ver Detalles</button>
            </div>
        </div>

        <!-- Formulario de publicación de partidos  -->
        <div class="contenido" id="publicar-partidos">
            <fieldset>
                <legend>Publicar Partido</legend>
                <form id="form-publicar" action="" method="post">
                    <div class="radio-modalidad">
                        <label id="lbModalidad">Modalidad</label>
                        <div class="rd1">
                            <input type="radio" name="modalidad" id="rdSingles" value="Singles" checked>
                            <label for="rdSingles">Singles</label>
                        </div>
                        <div class="rd2">
                            <input type="radio" name="modalidad" id="rdDobles" value="Dobles">
                            <label for="rdDobles">Dobles</label>
                        </div>
                    </div>

                    <div class="div-vacantes">
                        <label for="numVacantes">Número de Vacantes</label>
                        <input type="number" id="numVacantes" min="1" max="3" value="1">
                    </div>

                    <div class="div-nivel">
                        <label for="nivel">Nivel de Juego</label>
                        <select id="nivel" name="nivel">
                            <option value="Principiante" selected="selected">Principiante</option>
                            <option value="Intermedio">Intermedio</option>
                            <option value="Avanzado">Avanzado</option>
                            <option value="Experto">Experto</option>
                            <option value="Profesional">Profesional</option>
                        </select>
                    </div>

                    <div class="div-ubicacion">
                        <label for="ciudades">Ciudad</label>
                        <select id="ciudades" name="ciudades">

                        </select>
                        <label for="pista">Pista</label>
                        <select id="pista" name="pista">

                        </select>
                    </div>
                    <div class="div-fecha">
                        <label for="fechaPartido">Fecha</label>
                        <input type="date" name="fechaPartido" id="fechaPartido" required />
                    </div>
                    <div class="div-hora">
                        <label for="horaPartido">Hora</label>
                        <input type="time" name="horaPartido" id="horaPartido" required min="08:00" max="22:00" />
                    </div>
                    <div class="div-comentarios">
                        <label for="comentarios">Comentarios</label>
                        <input type="text" name="comentarios" id="comentarios">
                    </div>

                    <div class="botones-publicar">
                        <input type="reset" name="limpiar" id="limpiar" value="Limpiar" />
                        <input type="submit" name="publicar" id="publicar" value="Publicar" />
                    </div>

                </form>
            </fieldset>
        </div>

        <!-- Area de partidos donde el usuario participa  -->
        <div class="contenido mis-partidos" id="mis-partidos">
            
            <div id="ficha-mis-partidos">
                <div id="detalle-mi-partido-id" class="detalle-mis-partidos">
                    <i class="fa-solid fa-hashtag"></i>
                    <p>N°: <span class="numero-partido"></span></p>
                </div>
                <div class="div-icono-ficha">
                    <img class="img-icono-ficha" src="" alt="">
                    <p class="texto-icono"></p>
                </div>
                <div class="detalle-mis-partidos">
                    <i class="fa-solid fa-user"></i>
                    <p class="organizador-partido">Organizador: <span></span></p>
                </div>
                <div class="detalle-mis-partidos">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p class="fecha-partido">Fecha: <span></span></p>
                </div>
                <div class="detalle-mis-partidos">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="lugar-partido">Lugar: <span></span></p>
                </div>
                <div class="detalle-botones">
                    <button class="bt-ver-detalles">Ver detalles</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Contenedor donde se muestran las notificaciones recibidas  -->
    <div class="detalle-notificaciones">

        <div class="header-notificaciones">
            <h3>Notificaciones</h3>
            <span id="cerrar-notificaciones">&times;</span>
        </div>
    </div>
    <div id="contenedor-info" class="bloqueo-pantalla">
        <div class="informacion">
            <button class="cerrar-info"><span id="cerrar-info">&times;</span></button>
            <div class="contenido-info"></div>
            <button class="btn-cerrar-info">Aceptar</button>
        </div>
    </div>
    <div id="div-jugadores-inscritos">
        <h3>Jugadores inscritos en el partido</h3>
        <span class="cerrar-inscritos">&times;</span>
        <div class="fichas-container"></div>        
    </div>
    <!-- Pie de página  -->
    <footer>
        <p>2024 GoToPadel. Todos los derechos reservados.</p>
        <ul>
            <li><a id="privacidad" data-tipo="privacidad" href="#">Política de Privacidad</a></li>
            <li><a id="ayuda" data-tipo="ayuda" href="#">Ayuda</a></li>
            <li><a id="acerca-de" data-tipo="acerca-de" href="#">Acerca de</a></li>
        </ul>
    </footer>

    
    <script src="/js/private.js"></script>
    <script src="/js/publicar.js"></script>
    <script src="js/utilidades.js"></script>    
    <script src="/js/partidos.js"></script>
</body>


</html>